<div class="container">
  <% @books.each do |book| %>
    <div class="border" style="margin:30px">
      <div class="row" style="padding:20px">
        <div class="col-sm-3">
          <p><img src=<%= book.image_url %> alt='' width=150 height=170 ></P>
        </div>
        <div class="col-sm-9">
          <p>タイトル：<%= link_to book.title, book.item_url %>(←クリックすると楽天ブックスへ飛びます)</p>
          <p>著者名：<%= book.author %></p>
          <p>出版社：<%= book.publisher_name %></p>
          <p>概要：<%= book.item_caption %></p>
          </div>
        <div class="btn">
          <% if current_user.wish_book?(book) %>
            <%= form_with(model: current_user.wishes.find_by(book_id: book.id), local: true, method: :delete) do |f| %>
            <%= hidden_field_tag :book_id, book.id %>
            <%= f.submit '欲しい本リストから削除', class: 'btn btn-danger btn-sm' %>
            <% end %>
          <% else %>
            <%= form_with(model: current_user.wishes.build, local: true) do |f| %>
            <%= hidden_field_tag :book_id, book.id %>
            <%= f.submit '欲しい本リストに追加', class: 'btn btn-primary btn-sm' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>